<br />
<input type="text" placeholder="Фамилия, имя, отчество  Телефон" />
<br />
<button>Добавить</button>
<button onclick="location.href='/'">Отказаться</button>

<script>
    let elements = document.getElementsByTagName('a');
    for (element of elements) {
        element.removeAttribute('href');
    }
</script>