<br />
<input type="text" placeholder="Фамилия, имя, отчество  Телефон" value="{{activeContact}}"/>
<input type="hidden" value="{{activeContactId}}"/>
<br />
<button>Изменить</button>
<button id="delBtn">Удалить</button>
<button onclick="location.href='/'">Отказаться</button>

<script>
    let elements = document.getElementsByTagName('a');
    for (element of elements) {
        element.removeAttribute('href');
    }

    let delBtn = document.getElementById('delBtn');
    delBtn.onclick = ''; // TODO: dynamicly create form and submit it (POST at "/delete")
</script>